Note: This is token just for admin access
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIwYTdjMTNkMS1jNDQ3LTRlZjUtYTA0Yy04ZGNjM2IyYjZkNDQiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE2OTUxOTExNjAsImV4cCI6MTY5NTE5MTE2M30.fqIjSDdopONnjTd4aNo-k6rU7pb_o-C3ivrSbeITzyk